.logo {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.link {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding-right: 20px;
}

a.active {
  color: #bd1c41;
}

.link span {
  margin: 20px;
}